html, body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-y: scroll;
}

@keyframes dropping {
  0% {
    box-shadow: inset 0 0 0 20px rgb(104, 104, 104);
  }

  100% {
    box-shadow: inset 0 0 0 20px rgb(61, 61, 61);
  }
}

.dropping {
  animation: dropping 0.2s infinite alternate linear;
}

.demo {
  font-size: 13px;
  float: right;
  cursor: pointer;

  margin-top: 10px;
  line-height: 20px;
}

.demo:hover {
  color: red;
}

h3 {
  margin-top: 30px;
}

.list > div {
  border: 1px solid #cccccc;
  padding: .5rem !important;

  margin: 5px;
  text-align: center;
}

.list > .header {
  background-color: #5a5a5a;
  border: 1px solid #7a7a7a;
  color: white;
  font-weight: bold;
}


.list .chr {
  background-color: rgb(54, 0, 14);
}

.list .subs {
  background-color: rgb(0, 14, 54);
}

.list .dll_chr {
  background-color: rgb(85, 33, 2);
}

.list .nas {
  margin: 0px 5px;
  padding: 2px !important;
  font-size: 15px;
  line-height: 20px;
}

.list .nas-header {
  background-color: rgb(62, 53, 63);
}

.list .sec_chr {
  background-color: rgb(9, 114, 82);
}

.list .hsection-header {
  background-color: rgb(9, 46, 114);
}

.section_divider {
  height: 46px;
  text-align: center;
}

.section_divider::before {
  content: "\2015";
  line-height: 40px;
  font-size: 40px;
}

/* BIN_WALK */

.bin-walk {
  margin-top: 5px;
  font-family: monospace;
  font-size: 15px;
  line-height: 20px;
}

.bin-walk .col-8, .bin-walk .col-4 {
  padding: 0;
  margin: 0;
}

.bin-walk-left, .bin-walk-right {
  padding: 0 !important;
  text-align: center;
}

.bin-walk-left {
  padding-right: 5px !important;
}

.bin-walk-right {
  padding-left: 5px !important;
}

.bin-walk-left table, .bin-walk-right table {
  width: 100%;
}

.bin-walk-left td, .bin-walk-right td {
  border: 1px solid #ebebeb;
}

.bin-walk-left tr:first-child td, .bin-walk-left tr td:first-child, .bin-walk-right tr:first-child td {
  background-color: #5a5a5a;
  border: 1px solid #7a7a7a;
  color: white;
  font-weight: bold;
}

.bin-walk td:hover {
  background-color: #7a7a7a;
  color: white;
}

.bin-walk td.hover {
  background-color: #7a7a7a;
  color: white;
}

.bin-walk .out {
  background-color: rgb(211, 211, 211);
  color: rgb(116, 116, 116);
}


/* BIN_DYN */

.bin-dyn {
  margin-top: 5px;
  font-family: monospace;
  font-size: 15px;
  line-height: 20px;
}

.bin-dyn-left, .bin-dyn-right {
  padding: 0 !important;
  text-align: center;
}

.bin-dyn-left {
  padding-right: 5px !important;
}

.bin-dyn-right {
  padding-left: 5px !important;
}

.bin-dyn-left table, .bin-dyn-right table {
  width: 100%;
}

.bin-dyn-left td, .bin-dyn-right td {
  border: 1px solid #ebebeb;
}

.bin-dyn-left tr:first-child td, .bin-dyn-left tr td:first-child, .bin-dyn-right tr:first-child td {
  background-color: #5a5a5a;
  border: 1px solid #7a7a7a;
  color: white;
  font-weight: bold;
}

.bin-dyn td:hover {
  background-color: #7a7a7a;
  color: white;
}

.bin-dyn td.hover {
  background-color: #7a7a7a;
  color: white;
}

.bin-dyn .out {
  background-color: rgb(211, 211, 211);
  color: rgb(116, 116, 116);
}

/* HOVER STUFF */

.content [alt]:hover::after {
  display: block;
  content: attr(alt);
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  top: 0px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);

  padding: 1px 5px;

  z-index: 10;

  font-size: 13px;
  line-height: 20px;
  background-color: rgba(231, 79, 52, 0.9);
  color: white;

  min-width: 150px;
  white-space: nowrap;
}

.content [offset]::before {
  display: block;
  content: attr(offset);
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  top: 1px;
  right: 5px;
  z-index: 2;
  font-size: 11px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.7);
}

.content .list .header[offset]::before {
  color: rgba(255, 255, 255, 0.7);
}